.DS_Store
__pycache__/
*.pyc
*.pyo
.env
.env.*
optimizer_state.json
results/
greenhouse_website/
simulink/
*.m
*.prj
*.slx
*.slxc
*.zip
*.png
*.jpg
python/
python
data/
data
.wrangler
wrangler.toml
wrangler.json
.dockerignore
*.sql
